{% extends "layout.njk" %}

{%block head%}

<title>Sobre - Ana Buzzi</title>

{%endblock%}





{% block content %}
    <div id="wrapper">
        <img src="https://i.ibb.co/NCZJmTZ/Capturar123.png" alt="Ana img">
        <h1>Ana Buzzi</h1>
        <h2>Estudante de programação</h2>
        <p>Estudante de programação e aluna do bootcamp launchbase da <a href="https://www.rocketseat.com.br"
                target="blank">Rocketseat</a></p>
    </div>

    <div id="links-footer" class="links">
            <a href="https://github.com/anabuzzi" target="_blank">Github</a>
            <a href="https://twitter.com/anabuzzii" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/anapaulabuzzi/" target="_blank">Linkedin</a>
    </div>

{% endblock %}

<!-- targer = _blank = abre o link em outra janela -->

</body>

</html>