<!DOCTYPE html>
<html>

<head>

    {%block head%}
        <title>Ana Buzzi</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    <!-- link rel comunica que a file styles é a do css -->
</head>
<body>
    <header>

        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
            <a href="/">Conteúdos</a>    
        </div>
    </header>

{% block content%} {%endblock%}

<!-- targer = _blank = abre o link em outra janela -->

</body>

</html>